[versions]
clikt = "4.2.2"
graalvm = "0.10.1"
junit = "5.10.2"
k8s-client = "20.0.0"
kotlin = "1.9.23"
kotlin-logging = "3.0.5"
kotlin-result = "1.1.20"
kotlinx-coroutines = "1.8.0"
ktfmt = "0.17.0"
slf4j = "2.0.12"

[libraries]
clikt = { group = "com.github.ajalt.clikt", name = "clikt", version.ref = "clikt" }
junit = { group = "org.junit.jupiter", name = "junit-jupiter", version.ref = "junit" }
k8s-client = { group = "io.kubernetes", name = "client-java", version.ref = "k8s-client" }
kotlin-logging = { group = "io.github.microutils", name = "kotlin-logging-jvm", version.ref = "kotlin-logging" }
kotlin-result = { group = "com.michael-bull.kotlin-result", name = "kotlin-result", version.ref = "kotlin-result" }
kotlin-test = { group = "org.jetbrains.kotlin", name = "kotlin-test", version.ref = "kotlin" }
kotlinx-coroutines = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-core", version.ref = "kotlinx-coroutines" }
kotlinx-coroutines-test = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-test", version.ref = "kotlinx-coroutines" }
slf4j = { group = "org.slf4j", name = "slf4j-simple", version.ref = "slf4j" }

[plugins]
graalvm = { id = "org.graalvm.buildtools.native", version.ref = "graalvm" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
ktfmt = { id = "com.ncorti.ktfmt.gradle", version.ref = "ktfmt" }
