repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        args:
          - --allow-multiple-documents
    -   id: check-added-large-files
- repo: local
  hooks:
      - id: unit-test
        name: Run unit tests
        description: Runs unit-tests
        entry: ./ups-k8s-scaler/gradlew -p ups-k8s-scaler check
        pass_filenames: false
        language: system
      - id: ktfmt
        name: ktfmt
        description: ktfmts
        entry: ./ups-k8s-scaler/gradlew -p ups-k8s-scaler ktfmtCheck
        pass_filenames: false
        language: system
